.navbar {
  padding: 10px;

  > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    @media (min-width: 769px) {
      width: 70%;
    }
  }
}
